.cardWrap {
  display: flex;
  width: 736px;
  height: 512px;
}

.card {
  display: flex;
  flex: auto;
  flex-direction: column;
  width: 20%;
  height: 426px;
  margin-right: 8px;
  transition: all .3s ease-in-out;
  
  .img {
    height: 426px;
    background-image: url("https://via.placeholder.com/440");
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .desc {
    overflow: hidden;
    white-space: nowrap;
  }
  
  &:hover {
    width: 100%;
  }

}
