@import '@styles/common.scss';

.wrap {
    min-width: 1440px;
}

.contents {
    display: flex;
    align-items: center;
    justify-content: center;
}

.bannerWrap {
    height: 620px;
    background: $C_POSITIVE_LIGHT;
}

.trendsWrap {
    height: 1104px;
}

.questionWrap {
    height: 680px;
    background: $C_GREEN_100;
}

.mySelfWrap {
    height: 959px;
}

.onOffCoverWrap {
    height: 1273px;
    background: $C_WARM_GRAY_80;
}

.processWrap {
    height: 960px;
}

.realYouWrap {
    height: 2200px;
    margin: 200px 0 -500px;
}

.guideWrap {
    height: 990px;
    background: $C_JOBDA_WHITE;
}

.resultProcessWrap {
    height: 968px;
}

.fitWrap {
    height: 990px;
    background: $C_JOBDA_WHITE;
}

.interviewWrap {
    height: 947px;
}

.cardBannerWrap {
    height: 726px;
    background: $C_JOBDA_WHITE;
}
