@import '@styles/common.scss';

.wrap {
  font-family: $F_NOTO_SANS_KR;
  width: 1440px;
  height: 100%;
  padding: 160px 158px;
}

.titleWrap {
  display: flex;
  flex-direction: column;
  
  .title {
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 40px;
    color: $C_JOBDA_BLACK;
  }
}

.cardWrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 80px;
  
  .card {
    width: 352px;
    height: 246px;
    background: $C_GREEN_60;
    border: 1px solid $C_GREEN_90;
    border-radius: 16px;
    filter: drop-shadow(0px 0px 100px rgba(0, 0, 0, 0.1));
    cursor: pointer;
    
    &.GREEN {
      background: $C_GREEN_60;
      border: 1px solid $C_GREEN_90;
    }
    
    &.YELLOW {
      background: $C_YELLOW_70;
      border: 1px solid $C_YELLOW_100;
    }
    
    &.SKY {
      background: $C_SKY_60;
      border: 1px solid $C_SKY_90;
    }
  }
}
