@import '@styles/common.scss';

$COMPONENT_IMG_PATH: $STATIC_IMG_PATH + '/v2/components/phs/pst/result';

$TABLE_Z_INDEX: 50;
$ROW_Z_INDEX: 40;

.lineChartArea {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  user-select: none;
}

.columnArea {
  width: fit-content;
  height: calc(100% - 29px + 18px); // rowArea 높이 + column 텍스트 높이
  transform: translateY(-9px); // column 텍스트 높이 / 2
  text-align: right;

  .columnWrap {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .column {
    display: flex;
    align-items: center;
    justify-content: right;
    width: 100%;
    font-family: $F_PRETENDARD;
    font-weight: 500;
    font-size: 13px;
    line-height: 18px;
    color: $C_WARM_GRAY_70;
    white-space: nowrap;
  }
}

.chartWrap {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
  padding-left: 32px;

  .tableArea {
    position: relative;
    display: flex;
    flex-direction: column;
    height: calc(100% - 29px);
    z-index: $TABLE_Z_INDEX;
  }

  .dividerArea {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    border-bottom: 1px solid $C_COOL_GRAY_60;

    .divider {
      width: 100%;
      height: 100%;
      border-top: 1px solid $C_COOL_GRAY_40;
    }
  }

  .lineArea {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .pointsArea {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 100%;

    .dataWrap {
      position: relative;
      width: 100%;
      height: 100%;

      .line {
        position: absolute;
        bottom: 0;
        right: -1px;
        display: block;
        border-right: 2px solid;
      }

      .dataBtn {
        position: absolute;
        bottom: -8px;
        right: -9px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 16px;
        height: 16px;
        border-radius: 50%;

        &::after {
          display: block;
          width: 6px;
          height: 6px;
          border-radius: 50%;
          content: '';
        }
      }

      &.black {
        .line {
          border-color: $C_JOBDA_BLACK;
        }

        .dataBtn {
          background-color: $C_COOL_GRAY_40;
          
          &::after {
            background-color: $C_COOL_GRAY_80;
          }
        }

        &.on {
          .dataBtn {
            background-color: $C_JOBDA_BLACK;
            
            &::after {
              background-color: $C_WHITE;
            }
          }
        }
      }

      &.green {
        .line {
          border-color: $C_GREEN_200;
        }

        .dataBtn {
          background-color: $C_GREEN_40;
          
          &::after {
            background-color: $C_GREEN_200;
          }
        }

        &.on {
          .dataBtn {
            background-color: $C_GREEN_200;
            
            &::after {
              background-color: $C_WHITE;
            }
          }
        }
      }

      &.blue {
        .line {
          border-color: $C_BLUE_100;
        }

        .dataBtn {
          background-color: $C_BLUE_40;
          
          &::after {
            background-color: $C_BLUE_100;
          }
        }

        &.on {
          .dataBtn {
            background-color: $C_BLUE_100;
            
            &::after {
              background-color: $C_WHITE;
            }
          }
        }
      }

      &.empty {
        border: none;
      }
    }
  }

  .rowArea {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 18px;
    margin-top: 12px;
    z-index: $ROW_Z_INDEX;
  }

  .rowWrap {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  .row {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-family: $F_PRETENDARD;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.01em;
    color: $C_WARM_GRAY_70;
    text-align: center;
    transform: translateX(50%);
    cursor: pointer;

    &.on {
      font-weight: 700;
      color: $C_JOBDA_BLACK;
    }
  }

  .btn {
    position: absolute;
    bottom: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    background-color: $C_WHITE;
    border: 1px solid $C_COOL_GRAY_40;
    border-radius: 50%;
    z-index: 100;

    &::after {
      display: block;
      width: 16px;
      height: 16px;
      background-size: cover;
      background-repeat: no-repeat;
      content: '';
    }

    &.left {
      left: 14px;

      &::after {
        background-image: url($COMPONENT_IMG_PATH + '/iconLeft.png');
      }
    }

    &.right {
      right: 14px;

      &::after {
        background-image: url($COMPONENT_IMG_PATH + '/iconRight.png');
      }
    }
  }
}

.tooltipArea {
  position: absolute;
  left: 100%;
  display: none;

  &.top {
    // 8px = 동그라미 반지름
    transform: translate(calc(-50% - 8px), calc(-50% - 8px - 15px));
    animation: moveBoxTop 1s cubic-bezier(0.4, 0, 0.2, 1) infinite;
  }

  &.left {
    transform: translate(10px, 7.5px);
  }

  &.on {
    display: block;
  }
}

@keyframes moveBoxTop {
  0% {
    transform: translate(calc(-50% - 8px), calc(-50% - 8px - 15px - 4px));
  }

  50% {
    transform: translate(calc(-50% - 8px), calc(-50% - 8px - 15px + 4px));
  }

  100% {
    transform: translate(calc(-50% - 8px), calc(-50% - 8px - 15px - 4px));
  }
}
