@import '@styles/common.scss';

.wrap {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 430px;
    height: 430px;
    
    path {
        fill: transparent;
        stroke: $C_COOL_GRAY_50;
        stroke-width: 1;
    }
    
    .sky {
        fill: $C_SKY_60;
        color: $C_SKY_400;
    }
    
    .yellow {
        fill: $C_YELLOW_70;
        color: $C_YELLOW_400;
    }
    
    .green {
        fill: $C_GREEN_70;
        color: $C_GREEN_400;
    }
    
    .blue {
        fill: $C_BLUE_40;
        color: $C_BLUE_300;
    }
    
    .gray {
        fill: $C_COOL_GRAY_30;
    }
}

.textWrap {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    user-select: none;
}

.title {
    overflow: hidden;
    display: block;
    width: 100px;
    text-overflow: ellipsis;
    text-align: center;
    white-space: nowrap;
    margin-bottom: 12px;
    font-family: $F_NOTO_SANS_KR;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    color: $C_WARM_GRAY_60;
}

.name {
    overflow: hidden;
    display: block;
    width: 80px;
    text-overflow: ellipsis;
    text-align: center;
    white-space: nowrap;
    font-family: $F_NOTO_SANS_KR;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 20px;
}

.outSide {
    .name {
        width: 100px;
    }
}

.area01 {
    width: 100px;
    top: 55px;
}

.area02 {
    width: 80px;
    top: 175px;
    left: 93px;
}

.area03 {
    width: 80px;
    top: 223px;
}

.area04 {
    width: 80px;
    top: 175px;
    right: 93px;
}

.area05 {
    width: 100px;
    bottom: 90px;
    left: 42px;
}

.area06 {
    width: 80px;
    bottom: 91px;
}

.area07 {
    width: 100px;
    bottom: 90px;
    right: 42px;
}


