@import '@styles/common.scss';

.wrap {
    path {
        fill: transparent;
        stroke: $C_COOL_GRAY_50;
        stroke-width: 1   ;
    }
    path:hover {
        fill: $C_COOL_GRAY_50;
    }
}