@import '@styles/common.scss';

.wrap {
  display: flex;
  align-items: center;
  justify-content: center;
}

.chartWrap {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 544px;
  height: 488px;
  background: #FFFFFF;
  box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  
  &::after {
    position: absolute;
    left: 0;
    top: -54px;
    padding: 6px 14px;
    background: $C_GREEN_100;
    border-radius: 12px;
    font-family: $F_NOTO_SANS_KR;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: -0.0733333px;
    color: $C_WHITE;
    content: '난이도 적응 패턴 예시';
  }
}

.textWrap {
  width: 257px;
  margin-left: 128px;
}

.titleWrap {
  display: flex;
  flex-direction: column;
  font-family: $F_NOTO_SANS_KR;
  font-size: 32px;
  line-height: 42px;
  color: $C_JOBDA_BLACK;
  
  .em {
    font-weight: 700;
  }
}

.descWrap {
  margin-top: 40px;
  font-family: $F_NOTO_SANS_KR;
  color: $C_COOL_GRAY_80;
  
  .highlight {
    font-weight: bold;
    font-size: 17px;
    line-height: 24px;
    letter-spacing: -0.41px;
    color: $C_GREEN_200;
  }
  
  .desc {
    margin-top: 12px;
  }
  
  .bold {
    display: block;
    margin-top: 12px;
    font-size: 13px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: -0.0866667px;
  }
}
