.cardsArea {
    width: 100vw;
    height: 100vh;
    padding: 100px;
    background-color: #000;
}

.cards {
    position: relative;
    height: 245px;
    cursor: pointer;

    &.on {
        .card1 {
            transform: rotate(40deg);
        }
    
        .card2 {
            transform: rotate(20deg);
        }

        .card3 {
            transform: rotate(0deg);
        }
    }

}

.card {
    position: absolute;
    width: 217px;
    height: 245px;
    transform-origin: 70% 100%;
    transform: rotate(0deg);
    transition: all 0.8s ease-out;
}