// header height
$MIN_WIDTH: 1168px;
$HEADER_HEIGHT: 64px;
$CONTENTS_WIDTH: 1120px;
$FOOTER_HEIGHT: 100px;

// font
$F_NOTO_SANS_KR: NotoSanskr, sans-serif;
$F_MONTSERRAT: Montserrat, sans-serif;

// z-index
$Z_INDEX_BASIC: 10;
$Z_INDEX_FIXED: 100;