.countWrap {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 188px;
    height: 57px;
    padding: 0 6px;
    border-radius: 6px;
    background-color: #000000;
    font-size: 26px;
    font-weight: 500;
    line-height: 57px;
    color: white;
}

.count {
    overflow: hidden;
    display: flex;
    height: 100%;
    padding-left: 1px;
    font-size: 36px;
    font-weight: 700;
    color: #ffffff;
}

.number {
    height: 570px;
    transition: all 3s ease-in-out;
    
    .digit {
        display: block;
        width: 30px;
        height: 57px;
        text-align: center;
    }
}
