@import '@styles/common.scss';

.wrap {
  width: 2200px;
  height: 100%;
  padding: 48px;
}

.chartWrap {
  display: inline-block;
  width: 600px;
  height: 320px;
  margin-top: 32px;
  margin-left: 48px;
}

.chartWrapS {
  display: inline-block;
  width: 312px;
  height: 180px;
  margin-top: 64px;
  margin-left: 32px;
}