@import '@styles/common.scss';

$TITLE_Z_INDEX: 2;

.wrap {
    
    .dotChart {
        position: relative;
        width: 600px;
        height: 372px;
        margin-left: 30px;
        margin-bottom: 30px;
        border-left: 1px solid $C_WARM_GRAY_60;
        border-bottom: 1px solid $C_WARM_GRAY_60;
    }
    
    .arrow {
        position: absolute;
        width: 20px;
        border-top: 1px solid $C_WARM_GRAY_60;
        
        &.top {
            top: 8.5px;
            left: -5.5px;
            transform: rotate(60deg);
        }
        
        &.right {
            bottom: 4px;
            right: -1px;
            transform: rotate(30deg);
        }
    }
    
    .line {
        position: absolute;
        
        &.horizontal {
            top: 50%;
            width: 100%;
            height: 1px;
            background-image: linear-gradient(to right, $C_WARM_GRAY_50 50%, rgba(255, 255, 255, 0) 20%);
            background-size: 14.1px 1px;
            background-repeat: repeat-x;
        }
        
        &.vertical {
            left: 50%;
            width: 1px;
            height: 100%;
            background-image: linear-gradient(to top, $C_WARM_GRAY_50 40%, rgba(255, 255, 255, 0) 20%);
            background-size: 1px 14px;
            background-repeat: repeat-y;
        }
    }
    
    .category {
        position: absolute;
        width: 90px;
        font-family: $F_NOTO_SANS_KR;
        font-size: 13px;
        line-height: 18px;
        color: $C_WARM_GRAY_70;
        
        &.leftTop {
            transform: rotate(-90deg);
            top: 85px;
            left: -70px;
        }
    
        &.leftBottom {
            transform: rotate(-90deg);
            bottom: 85px;
            left: -70px;
        }
    
        &.bottomLeft {
            left: 95.5px;
            bottom: -30px;
        }
    
        &.bottomRight {
            right: 102px;
            bottom: -30px;
        }
    }
    
    .preference {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 48px;
        height: 24px;
        border-radius: 4px;
        font-family: $F_NOTO_SANS_KR;
        font-size: 11px;
        line-height: 14px;
        
        &.topLeft {
            top: 4px;
            left: 125px;
        }
    
        &.topRight {
            top: 4px;
            right: 125px;
        }
    
        &.bottomLeft {
            bottom: 8px;
            left: 125px;
        }
    
        &.bottomRight {
            bottom: 8px;
            right: 125px;
        }
    
        &.gray {
            color: $C_WARM_GRAY_70;
            background: $C_COOL_GRAY_40;
        }
    
        &.green {
            color: $C_GREEN_300;
            background: $C_GREEN_50;
        }
    
        &.red {
            color: $C_NEGATIVE_DARK;
            background: #F9E0E2;
        }
    }
    
    .item {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
        &.inActive {
            opacity: 0.48;
        }
        
        .point {
            width: 16px;
            height: 16px;
            border: 5px solid $C_COOL_GRAY_40;
            border-radius: 50%;
            background: $C_COOL_GRAY_60;
        }
        
        .title {
            overflow: hidden;
            position: absolute;
            top: 16px;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100px;
            margin-top: 6px;
            font-family: $F_NOTO_SANS_KR;
            font-size: 13px;
            font-weight: 500;
            line-height: 18px;
            color: $C_WARM_GRAY_70;
            cursor: pointer;
            z-index: $TITLE_Z_INDEX;
        }
        
        &.gray {
            &.active {
                .point {
                    border: 5px solid $C_COOL_GRAY_60;
                    background: $C_WHITE;
                }
                
                .title {
                    color: $C_COOL_GRAY_60;
                }
            }
            
            .point {
                border: 5px solid $C_COOL_GRAY_40;
                background: $C_COOL_GRAY_60;
            }
        }
        
        &.green {
            &.active {
                .point {
                    border: 5px solid $C_POSITIVE_DARK;
                    background: $C_WHITE;
                }
        
                .title {
                    color: $C_POSITIVE_DARK;
                }
            }
            
            .point {
                border: 5px solid $C_GREEN_50;
                background: $C_POSITIVE_DARK;
            }
        }
        
        &.red {
            &.active {
                .point {
                    border: 5px solid $C_NEGATIVE_LIGHT;
                    background: $C_WHITE;
                }
        
                .title {
                    color: $C_NEGATIVE_LIGHT;
                }
            }
            
            .point {
                border: 5px solid #F9E0E2;
                background: $C_NEGATIVE_LIGHT;
            }
        }
    }
    
}
