@import '@styles/common.scss';

$COMPONENT_IMG_PATH: $STATIC_IMG_PATH + '/v2/components/phs/pst/result';

.cardInner {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: $C_WHITE;
  border: 1px solid $C_COOL_GRAY_40;
  border-radius: 16px;

  & + .cardInner {
    margin-top: 24px;
    padding: 44px;
  }

  .title {
    font-family: $F_NOTO_SANS_KR;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.18px;

    .grade {
      color: $C_GREEN_300;
    }
  }

  .desc {
    margin-top: 12px;
    font-family: $F_NOTO_SANS_KR;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: -0.36px;
    color: $C_WARM_GRAY_70;

    .grade {
      font-weight: 600;
      color: $C_COOL_GRAY_80;
    }
  }
}

.chartArea {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  padding: 64px 0 49px 0;

  .columnText {
    display: block;
    width: 48px;
    margin: 10px 16.5px 0 0px;
    font-family: $F_NOTO_SANS_KR;
    font-weight: 700;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: -0.08;
    color: $C_WARM_GRAY_70;
    text-align: center;
  }

  .chartWrap {
    width: 626px;
    height: 349px;
  }

  .arrow {
    display: flex;
    align-items: center;
    width: 648px;
    height: 18px;
    margin: 29px 0 0 10px;
    font-family: $F_NOTO_SANS_KR;
    font-weight: 700;
    font-size: 13px;
    line-height: 1px;
    letter-spacing: -0.086px;
    color: $C_WARM_GRAY_70;

    &::before {
      display: block;
      width: 567px;
      height: 15px;
      margin-right: 16px;
      background-image: url($COMPONENT_IMG_PATH + '/imgArrow.png');
      background-size: cover;
      content: '';
    }
  }
}

.tooltipArea {
  display: flex;
  flex-direction: column;
  font-family: $F_NOTO_SANS_KR;
  font-weight: 400;
  font-size: 13px;
  line-height: 21px;
  letter-spacing: -0.24px;
  color: $C_WARM_GRAY_70;

  .tooltipTitle {
    font-weight: 700;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: -0.08px;
    color: $C_WARM_GRAY_80;
  }

  .tooltipDesc {
    margin-top: 8px;
  }
}
