@import '@styles/common.scss';

$COMPONENT_IMG_PATH: $STATIC_IMG_PATH + '/v2/components/phs/pst/result';

.tooltipArea {
  @include commonBoxShadowStyle('large');

  position: relative;
  display: flex;
  flex-direction: column;
  padding: 8px 12px;
  border-radius: 8px;
  white-space: nowrap;

  .text {
    font-family: $F_NOTO_SANS_KR;
    font-weight: 500;
    font-size: 11px;
    line-height: 17px;
  }

  &::after {
    position: absolute;
    display: block;
    background-size: cover;
    background-repeat: no-repeat;
    content: '';
  }

  &.white {
    border: 1px solid $C_COOL_GRAY_40;
    background-color: $C_WHITE;
    transform: translate(10px, 7.5px);

    .text {
      color: $C_COOL_GRAY_80;
    }

    &::after {
      top: 14px;
      left: -7px;
      width: 7px;
      height: 8px;
      background-image: url($COMPONENT_IMG_PATH + '/imgArrowWhite.png');
    }
  }

  &.gray {
    border: none;
    background-color: $C_COOL_GRAY_80;
    transform: translate(calc(-50% - 8px), calc(-50% - 16px));

    .text {
      color: $C_WHITE;
    }

    &::after {
      width: 12px;
      height: 11px;
      margin: 0 auto;
      bottom: -6px;
      left: 0;
      right: 0;
      background-image: url($COMPONENT_IMG_PATH + '/imgArrowGray.png');
    }
  }
}
