@import '@styles/common.scss';

$COMPONENT_IMG_PATH: $STATIC_IMG_PATH + '/introduce';
$FADEIN_DURATION: 0.5s;

// 전체 타이틀 영역
.titleArea {
  padding-top: 240px;
  text-align: center;

  &.on {
    .title,
    .desc {
      transform: translateY(0);
      opacity: 1;
    }
  }

  .title {
    display: block;
    font-family: $F_PRETENDARD;
    font-size: 96px;
    font-weight: 800;
    line-height: 120px;
    color: $C_COOL_GRAY_90;
    transform: translateY(24px);
    transition: transform $FADEIN_DURATION ease-in-out, opacity $FADEIN_DURATION ease-in-out;
    opacity: 0;

    .emphasis {
      color: $C_GREEN_100;
    }
  }

  .desc {
    margin-top: 32px;
    font-family: $F_PRETENDARD;
    font-size: 21px;
    font-weight: 500;
    line-height: 32px;
    color: $C_COOL_GRAY_70;
    transform: translateY(24px);
    transition: transform $FADEIN_DURATION $FADEIN_DURATION ease-in-out,
      opacity $FADEIN_DURATION $FADEIN_DURATION ease-in-out;
    opacity: 0;
  }

  .imgArea {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: $CONTENTS_WIDTH;
    margin: 0 auto;
    padding-top: 120px;

    &:before {
      position: absolute;
      top: 546px;
      left: 50%;
      width: 135px;
      height: 57px;
      background-image: url($COMPONENT_IMG_PATH + '/imgTitleBg.png');
      background-size: cover;
      transform: translateX(-50%);
      content: '';
    }

    .img {
      position: relative;
      transition: transform 0.4s ease-out;

      &:before {
        display: block;
        background-size: cover;
        content: '';
      }

      &.img1 {
        transform: translateY(160px);

        &:before {
          width: 536px;
          height: 1004px;
          background-image: url($COMPONENT_IMG_PATH + '/imgTitle1.png');
        }
      }

      &.img2 {
        transform: translateY(320px);

        &:before {
          width: 540px;
          height: 1263px;
          background-image: url($COMPONENT_IMG_PATH + '/imgTitle2.png');
        }
      }
    }

    .text {
      margin-top: -14px;
      padding-left: 108px;
      font-family: $F_PRETENDARD;
      font-size: 21px;
      font-weight: 700;
      line-height: 32px;
      color: $C_COOL_GRAY_80;
      text-align: left;
    }
  }
}
