@import '@styles/common.scss';

.mapArea {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 383px;
    height: 378px;
    
    .mapContents {
        position: relative;
    }

    .name {
        position: absolute;
        height: 26px;
        padding: 3px 12px 5px;
        background: $C_GREEN_100;
        border: 1px solid $C_GREEN_200;
        border-radius: 13px;
        font-weight: 500;
        font-size: 13px;
        line-height: 18px;
        color: $C_WHITE;
        white-space: nowrap;
        cursor: pointer;
        user-select: none;

        &::after {
            position: absolute;
            left: calc(50% - 2px);
            bottom: -3px;
            width: 4px;
            height: 4px;
            background: $C_GREEN_100;
            border-top: 1px solid $C_GREEN_200;
            border-left: 1px solid $C_GREEN_200;

            text-align: center;
            transform: rotate(-135deg);
            content: '';
        }
    }
}

.mapWrap {
    .em {
         fill: #E7E8EA;
    }
        
    .selected {
        fill: $C_GREEN_90 !important;
            
         &.em {
            fill: $C_GREEN_200 !important;
        }
    }
        
    path {
        fill: #F4F4F5;
         cursor: pointer;
            
        &.noCursor {
            cursor: default;
        }
    }
        
    .hovered {
        fill: $C_COOL_GRAY_50;
    }
}

