@import '@styles/common.scss';

.wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 383px;
    height: 378px;
    
    .name {
        position: absolute;
    }
    
    .active {
        fill: $C_GREEN_90 !important;
    }
    
    path:hover {
         fill: $C_COOL_GRAY_50;
        cursor: pointer;
    }
    
}
