@import '@styles/common.scss';

.wrap {
  width: 1440px;
  height: 100%;
  padding: 160px;
}

.emWrap {
  display: flex;
  flex-direction: column;
  
  .em {
    font-family: $F_NOTO_SANS_KR;
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    line-height: 45px;
    color: $C_JOBDA_BLACK;
  }
}

.countList {
  margin-top: 160px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  
  .item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 626px;
    padding-bottom: 30px;
    
    &:not(:first-child) {
      margin-top: 38px;
    }
    
    &:not(:last-child) {
      border-bottom: 1px solid $C_COOL_GRAY_40;
    }
  }
}

.textWrap {
  display: flex;
  flex-direction: column;
  
  .title {
    margin-top: 29px;
    font-family: $F_NOTO_SANS_KR;
    font-weight: 500;
    font-size: 26px;
    line-height: 28px;
    color: $C_COOL_GRAY_90;
  }
  
  .text {
    font-family: $F_NOTO_SANS_KR;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: -0.24px;
    color: $C_COOL_GRAY_80;
    
    &:nth-child(2) {
      margin-top: 12px;
    }
  }
}
