@charset 'UTF-8';

// variables
@import './variables/colors.scss';
@import './variables/path.scss';
@import './variables/variables.scss';

// mixins
@import './mixins.scss';

// hidden
.hidden {
    overflow: hidden;
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    clip: rect(0, 0, 0, 0);
}

// 역검 강조
.textEmphasis {
    display: inline-block;
    font-family: $F_WEMAKE_PRICE;
    font-size: 16px;
    font-weight: 700;
    line-height: 1;
    color: $C_SKY_200;
    vertical-align: 2px;
}