@import '@styles/variables/path.scss';

/*  NotoSans  */
@font-face {
    font-family: 'NotoSansKR';
    font-style: normal;
    font-weight: 400;
    src: url($FONT_PATH + '/NotoSansKR-Regular.otf') format('opentype');
}

@font-face {
    font-family: 'NotoSansKR';
    font-style: normal;
    font-weight: 500;
    src: url($FONT_PATH + '/NotoSansKR-Medium.otf') format('opentype');
}

@font-face {
    font-family: 'NotoSansKR';
    font-style: normal;
    font-weight: 700;
    src: url($FONT_PATH + '/NotoSansKR-Bold.otf') format('opentype');
}

@font-face {
    font-family: 'NotoSansKR';
    font-style: normal;
    font-weight: 900;
    src: url($FONT_PATH + '/NotoSansKR-Black.otf') format('opentype');
}

/* Montserrat */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: url($FONT_PATH + '/Montserrat-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 900;
    src: url($FONT_PATH + '/Montserrat-Black.ttf') format('truetype');
}