@import '@styles/variables/path.scss';

// Pretendard
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

/*  Wemakeprice  */
@font-face {
    font-family: 'Wemakeprice';
    font-style: normal;
    font-weight: 700;
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/Wemakeprice-Bold.woff') format('woff');
}