html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
    color: inherit;
    //text-decoration: none;
}

* {
    box-sizing: border-box;
}


$headerHeight: 70px;
$footerHeight: 70px;

.layout {
    height: 100%;
}

.contents {
    width: 100%;
    height: 200vh;
}


header {
    width: 100%;
    height: $headerHeight;
    background: #0070f3;
}

.fixedHeader {
    position: fixed;
    top: 0;
    width: 100%;
    transition: top 0.3s ease-in-out;
    
    &.Up {
        top: -$headerHeight;
    }
}

footer {
    width: 100%;
    height: $footerHeight;
    background: pink;
}
